<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinnian.channel.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.framework.model.channel.entity.ChannelDo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="last_login_token" jdbcType="VARCHAR" property="last_login_token" />
    <result column="login_at" jdbcType="TIMESTAMP" property="login_at" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    <result column="nickname" jdbcType="TIMESTAMP" property="nickname" />
  </resultMap>


  <!--用户登陆-->
  <select id="login" parameterType="com.framework.model.channel.entity.ChannelDo" resultMap="BaseResultMap">

    SELECT
    *
    FROM tb_channel
    WHERE username=#{username} and password=#{password}

  </select>

  <!--修改-->
  <update id="addUpdate" parameterType="com.framework.model.channel.entity.ChannelDo">

    UPDATE tb_channel SET login_at=#{login_at},last_login_token=#{last_login_token} WHERE id=#{id}

    </update>

  <!--添加-->
  <insert id="addAll"  parameterType="com.framework.model.channel.entity.ChannelDo">

  INSERT INTO tb_channel (username,password,phone) VALUES (#{username},#{password},#{phone})
 </insert>


  <!--查询-->
  <select id="findAll" parameterType="com.framework.model.channel.entity.ChannelDo" resultMap="BaseResultMap">
SELECT
    *
    FROM tb_channel
  </select>

</mapper>